h1 {
  font-size: 3rem;
  color: #F4CE14;
  white-space: nowrap;
  margin-block: 0.2rem;
}




nav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
nav *  {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-family: cursive;
}

nav ul {
  display: flex;
  padding: 25px;
  margin: 10px;
  gap: 30px;
  align-items: center;
}

nav a:hover {
  color: #495E57;
}

footer {
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  border-top: 2px solid #eee;
}

footer * {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

footer  a:hover {
  color: aqua;
  
}

.littleLemonText {
  flex-basis: 15%;
  padding: 20px;
}

.littleLemonSection {
  background-color: #495E57;
}

.littleLemon p, .littleLemon h3 {
  color: white;
}

.littleLemon {
  display: flex;

  margin: 0 20em;
  padding: 20px;
  justify-content: flex-start;
  position: relative;
}

.cards,.topRow {
  display: flex;
  gap: 50px;
  margin: 5rem auto;
  width: 90%;
  padding: 20px;
  justify-content: space-around;
}


.card {
  background-color: #EDEFEE;
  display: flex;
  position: relative;
  padding: 20px;
  margin-top: 10rem;
  max-width: 200px;
  box-shadow: 0 0 20px 5px rgba(43, 29, 29, 0.5);
}

.card img {
  position: absolute;
  top: -80%;
  left: 0;
  border: 1px solid;
  border-top-left-radius: 30px;
  width: 100%;
  border-top-right-radius: 30px;
  border: none;
  box-shadow: 0 0 20px 5px rgba(43, 29, 29, 0.5);
}
.cardTextTop {
  display: flex;
  gap: 40px;
  align-items: center;
}

span {
  color: brown;
}

button {
  background-color: #F4CE14;
  padding: 15px;
  border-radius: 15px;
  font-family: 'calibri-bold' sans-serif;
  font-weight: 600;
  border: none;
}

.imageLemon  {
  width: 50%;
  transform: translateX(50%);
  position: absolute;
  left: 50%;
  top: 3rem;
  height: auto;
}

.imageLemon img {
  width: 300px;
  border-radius: 20px;
}