h1 {
  font-size: 3rem;
  color: #F4CE14;
  white-space: nowrap;
  margin-block: 0.2rem;
}




nav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
nav *  {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-family: cursive;
}

nav ul {
  display: flex;
  padding: 25px;
  margin: 10px;
  gap: 30px;
  align-items: center;
}

nav a:hover {
  color: #495E57;
}

footer {
  display: flex;
  background-color: #495E57;
  gap: 100px;
  justify-content: space-evenly;
  padding: 20px;
  position: relative;
  margin-top: 5rem;
  border-top: 2px solid #eee;
}

footer * {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

footer  a:hover {
  color: white;
  
}

.littleLemonText {
  flex-basis: 15%;
  padding: 20px;
}

.littleLemonSection {
  background-color: #495E57;
}

.littleLemon p, .littleLemon h3 {
  color: white;
}

.littleLemon {
  display: flex;

  margin: 0 20em;
  padding: 20px;
  justify-content: flex-start;
  position: relative;
}

.cards,.topRow {
  display: flex;
  gap: 50px;
  margin: 5rem auto;
  width: 90%;
  padding: 20px;
  justify-content: space-around;
}


.card {
  background-color: #EDEFEE;
  display: flex;
  position: relative;
  padding: 20px;
  margin-top: 10rem;
  max-width: 200px;
  box-shadow: 0 0 20px 5px rgba(43, 29, 29, 0.5);
}

.card img {
  position: absolute;
  top: -55%;
  left: 0;
  border: 1px solid;
  border-top-left-radius: 30px;
  width: 100%;
  border-top-right-radius: 30px;
  border: none;
  box-shadow: 0 0 20px 5px rgba(43, 29, 29, 0.5);
}
.cardTextTop {
  display: flex;
  gap: 40px;
  align-items: center;
}

span {
  color: brown;
}

button {
  background-color: #F4CE14;
  padding: 15px;
  border-radius: 15px;
  font-family: 'calibri-bold' sans-serif;
  font-weight: 600;
  border: none;
}

.imageLemon  {
  width: 50%;
  transform: translateX(50%);
  position: absolute;
  left: 50%;
  top: 3rem;
  height: auto;
}

.imageLemon img {
  width: 300px;
  border-radius: 20px;
}

.rating {
  
  background-color: #495E57;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  gap: 0;
  padding: 100px;
}

.ratingbox {
  background-color: #D9D9D9;
  display: flex;
  padding: 20px;
  border: 1px solid white;
  box-shadow: 0 0 3px 1px white;
  border-radius: 10px;
}

.rightCol {
  text-align: center;
  align-self: center;
  padding: 10px;
}
.ratingbox img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: center;
  border: 1px solid #495E57;
}

.ratingbox:hover {
  transform: scale(1.1);
}

.bannerdescription {
  display: flex;
  margin: 0 auto;
  padding: 100px;
  justify-content: center;
  gap: 50px;
}

.leftDescription { 
  padding: 5px;
  flex-basis: 30%;
}

.rightDescription {
  position: relative;
}

.bannerdescription img {
  border: 1px solid #495E57;
  border-radius: 30px;
  box-shadow: 0 0 10px 1px #495E57;
}

.imageTop {
  position: absolute;
  top: -50px;
  left: 40%;
}

.about-us {
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px;

}

.about-us h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 16px;
}

.reservation-form {
  display: grid;

  width: 80%;
  margin: 5rem auto;
  gap: 20px;
}

.reservation-form label {
  font-weight: bold;
}

.reservation-form input,
.reservation-form select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reservation-form input[type='submit'] {
  padding: 8px 16px;
  background-color: #F4CE14;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* .reservation-form input[type='submit']:hover {
  background-color: #495E57;
} */

.reservation-form input[type='date'] {
  width: 100%;
}

.reservation-form input[type='number'] {
  width: 60px;
}

.reservation-form select {
  width: 100%;
}

.confirmation {
  width: 70%;
  display: flex;
  margin: 5rem auto 0 auto;
  height: 500px;
text-align: center;
justify-content: center;
}

input[type="submit"] {
  background-color: #F4CE14;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled:hover {
  /* Additional styles when hovering over the disabled button, if needed */
}